
mergeSchema/json_merged/SCSE19_0209.json
mergeSchema/json_to_merge/nvdcve_2010.json
mergeSchema/json_to_merge/nvdcve_2011.json
mergeSchema/json_to_merge/nvdcve_2012.json
mergeSchema/json_to_merge/nvdcve_2014.json
mergeSchema/json_to_merge/nvdcve_2015.json
mergeSchema/json_to_merge/nvdcve_2013.json
mergeSchema/json_to_merge/nvdcve_2016.json
mergeSchema/json_to_merge/nvdcve_2017.json
mergeSchema/json_to_merge/nvdcve_2019.json
mergeSchema/json_to_merge/nvdcve_2018.json
mongo/jsons/SCSE19_0209.json
mongo/jsons/SCSE19_0209.json
